.slide_box {
  margin: 500px 0 0 700px;
  border: rgb(255, 14, 135) 3px dotted;
  width: 400px;
  height: 305px;
  /* overflow: hidden; */
}

.slide_item {
  background-color: rgb(255, 215, 187);
  width: 400px;
  height: 300px;
  text-align: center;
  line-height: 100px;
  font-size: larger;
  border: rgb(165, 165, 165) 0.5px solid;
}

.num {
  font-size: 200px;
  text-align: center;
  line-height: 1.3em;
  background-color: white;
}
.slide_list {
  border: solid red 2px;
  width: 200vw;
  display: flex;
  height: 300px;
}

button {
  margin-left: 610px;
}
